@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  font-family: 'Exo 2', sans-serif;
  transition: .3s all;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
}
body{
  overflow-x:hidden;
}
.span{
  color:#6047EC;
}
.logo{
  color:#2d3436 !important;
  font-weight:bold !important;
}
.nav-link{
  color:#333;
  font-weight:500 !important;
}
.nav-link:hover{
  color:#6c5ce7 !important;
  font-weight:bold;
}
.card{
  padding:2rem;
}
.icon{
  cursor: pointer;
}
.icon:hover{
color:#6047EC;
}
.icon:active{
  color:#6047EC !important;
}
.spendTime{
  background:#6047EC1A;
  color:#6047EC;
}
.bookmark{
  background:#6047EC1A;
}
.bookmarks{
  background:#fff;
  margin:10px;
  text-align: center;
  padding:5px 7px;
  font-weight:500;
  font-size:14px;
  text-align: justify;
  border:0;
  border-radius: 5px;
  margin-bottom:1.2rem;
}
.sticky{
  position:sticky;
  top:15%;
}
.spendTime{
  border-radius:5px;
}
@media screen and (max-width:1050px){
  #root{
    padding:2rem;
  }
}
@media screen and (max-width:768px){
  .user-content{
    flex-direction:column;
  }
  .date-icon{
    margin:1rem 0;
  }
  .h4{
    font-size:1.5rem;
  }
  .bookmarks{
    font-size:17px;
    text-align:left;
  }
  .bookmarks p{
    margin-top:1.2rem;
  }
  .sticky{
    position: relative;
    top: 0;
  }
  .spendTime p{
    font-size:1.2rem !important;
  }

}

